{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="navbar navbar-default">
  <a href="http://localhost:3000/donut-tycoon/shops" class="btn" >Donut Shops</a>
  <a href="http://localhost:3000/donut-tycoon/employees" class="btn">Employees</a>
  <a href="http://localhost:3000/donut-tycoon/donuts" class="btn">Donuts</a>
</div>

<div class="container">
  <h1>Create a New Shop!</h1>
  <form method="post">
    <div class="form-group">
      <label for="donut-shop-name">Name:</label>
      <input type="text" class="form-control" id="donut-shop-name" value="{{name}}" name="name" placeholder="Name of Donut Shop Goes Here">
    </div>
    <div class="form-group">
      <label for="donut-city">City:</label>
      <input type="text" class="form-control" id="donut-city" value="{{city}}" name="city" placeholder="The City The Donut Shop Is In Goes Here">
    </div>
    <div class="container">
      <div class="col-md-6">
        <input type="submit" class="btn btn-success"></input>
        <a href="http://localhost:3000/donut-tycoon/shops" class="btn btn-warning">Cancel</a>
      </div>
    </div>
  </form>
</div>


{% endblock %}
